.chatBox .panel-body {
  height: 30vh;
}

.chatBox .panel-footer {
  background-color: #fff;
  padding: 0;
}

.chatInputForm input {
  border: none;
  box-shadow: none;
}

.chatInputForm input:focus {
  box-shadow: none;
}

.chatBox .panel-body {
  overflow: scroll;
}

.close:hover {
    opacity: .365;
}

.close:focus {
    outline: none;
}

.alert {
    margin-top: 14px;
    margin-bottom: 0;
}